/* 
Author : Rihards 'dExIT' Mantejs
*/
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');


/*  
Styling
*/
/* GLOBAL styles */
* { /* This is a wildcard selector that will apply the below styling to all elements*/
    box-sizing: border-box;  /* Sets the box sizing to be aligned to the box border*/
    padding: 0;  /* Set the padding to zero */
    margin: 0; /* Set the margins to zero */

    font-family: Short Stack, cursive, sans-serif;
}
body {
    font-family: 'Short Stack', cursive;
    background-color: #FDF7F1;
    color: #3c3c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 500px;
}
/* Section styles */
section.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    flex: 2 1 200px;
    width: 100%;
    border: 2px solid #0000000a;
    border-radius: 25px;
    background: #ffffff9e;
    box-shadow: 0px 0px 30px -6px #00000024;
    margin-top: 36px;
}
#quiz * {
    transition: all 680ms ease-in-out!important;
}
/* Quiz styles */
.quiz-question {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: calc(100vw - 44%);
    padding: 26px;
    margin: 26px;
    min-height: 75px;
    text-align: center;
}
button.quiz-start {
    transition: all 380ms ease-out, font-weight 550ms ease-out 100ms;
    background: #ededed;
    color:#3c3c3c;
}
.quiz-start:hover {
background: #3c3c3c;
color:white;
    cursor: help;
}
.expl {
    max-width: 50%;
    font-size: 14px;
    margin: 0 auto;
}
