/* 
Author : Rihards 'dExIT' Mantejs
*/
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
body {
  font-family: 'Short Stack', cursive;
}
/*  
Styling
*/
/* GLOBAL styles */
* { /* This is a wildcard selector that will apply the below styling to all elements*/
    box-sizing: border-box;  /* Sets the box sizing to be aligned to the box border*/
    padding: 0;  /* Set the padding to zero */
    margin: 0; /* Set the margins to zero */
}

