/* 
Author : Rihards 'dExIT' Mantejs
*/
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
body {
  font-family: 'Short Stack', cursive;
}
/*  
Styling
*/
/* GLOBAL styles */
* { /* This is a wildcard selector that will apply the below styling to all elements*/
    box-sizing: border-box;  /* Sets the box sizing to be aligned to the box border*/
    padding: 0;  /* Set the padding to zero */
    margin: 0; /* Set the margins to zero */

    font-family: Short Stack, cursive, sans-serif;
}
/* Section styles */
section.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    height: 100%;
}
/* Quiz styles */
.quiz-question {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 5vh;
    margin: 26px auto;
}